html {
    --bg-color:#151719;
    --secondary-button: #25282c;
    --secondary-button-hover:#6e757e;
    --primary: #21c49c;
    --primary-hover: #69e0c2;
    --secondary: #939ea7;
    --tertiary: #fafbfb;
    --text: #fff;
    --white: #fff;
    --table-border: #81a4be;
    --table-thead: #505050;
    --table-tr: #202121;
}