body{
    position: relative;
}
/* index dark*/
.dark table{
    border-color: #81a4be;
}
.dark thead th, .dark tbody td{
    border-color: #81a4be;
}
.dark tbody tr:nth-child(odd) {
    background-color: #202121;
}
.dark thead{
    background-color: #505050;
}
.dark .modal {
    background-color: #202121;
}
#radio-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
h1{
    padding-bottom: 1rem;
}

/* Tableau */

table {
  display: none;
  max-height: 400px;
  overflow-y: auto;
  border-collapse: collapse;
  border: 2px solid var(--table-border);
} 
table + div {
    display: none;
}
.table {
    display: block;
}

.table tbody tr td .detail{
    cursor: pointer;
}

thead,
tbody {
  display: table;
  width: 100%;
}
thead th,
tbody td {
  width: 25%;
  border-right: 2px solid var(--table-border);
  height: 2rem;
  text-align: center;
}

tbody tr,
thead tr {
  height: 2.5rem;
}

tbody tr:nth-child(odd) {
  background-color: var(--table-tr);
}

thead {
  background-color: var(--table-thead);
}
th {
  font-weight: bolder;
}
tbody a:hover {
    color: var(--primary);
}

/* Grid */

#grid{
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 0.5rem;
}
.grid {
    display: grid;
}
.card{
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--primary);
    padding: 1rem;
}

.card div{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.card a{
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid var(--text);
    color: #000;
    border-radius: 5px;
    background-color: var(--primary);
}

.card a:hover{
    border-color: #81a4be;
}



/* Modal */

.modal-layer{
    display: none;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal{
    display: none;
    width: 60%;
    height: 60%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 10px;
    background-color: var(--bg-color);
}

.modal-content{
    width: 300px;
}

.bloc-image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative
}

.bloc-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

.profil-modal{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.profil-modal p{
    text-align: start;
}

.profil-modal + p, .profil-modal + p + p{
    padding-bottom: 0.5rem;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#close{
    padding: 0.5rem;
    background-color: var(--primary);
    cursor: pointer;
    border-color: #151515;
    border-radius: 5px;
}
#close:hover{
    border-color: #56565663;
}
@media screen and (width < 764px){
    #grid{
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (width < 400px){
    #grid{
        grid-template-columns: repeat(1, auto);
    }
}