section div {
  width: 100%;
  gap: 1rem;
}

.description-container,
.liens-utiles-container {
  display: flex;
  flex-direction: column;
}

#description-content,
.liens-utiles-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  height: 200px;
  width: 100%;
  border: 2px solid var(--tertiary);
}
#description-content ul li,
.liens-utiles-content ul li {
  list-style-type: decimal;
  padding: 5px;
}

#description-content ul li, .liens-utiles-content ul li, .liens-utiles-content ul li a{
    color: var(--text)
}

/* informations */
.dark #description-content, .dark .liens-utiles-content{
    border-color: #fafbfb;
}
.dark #description-content ul li,.dark  .liens-utiles-content ul li,.dark  .liens-utiles-content ul li a{
    color: #fff;
}

@media screen and (width < 764px) {
    section .description-et-liens-container{
        flex-direction: column;
    }
}